# Normalize and Visualize Count Tables

We want to manually normalize our count table with TPM and RPKM normalization.\
Since we must not compare samples of different conditions with those methods we will use only our TNF samples for the analysis.\
\
Afterward we will create a plot to examine our normalized count data and find out what we can use them for.

In [68]:
%matplotlib  inline

# import neccessary python packages
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Task1: Import count table
You find the TNF count table in `/Data/RNAseq/RNA_Scr_feature_counts.tsv`. \
Import the file as a pandas DataFrame. Find out via Google how you can skip the first row of our file (the row starting with `#`).

In [48]:
## read feature counts table as pandas dataframe

fp_counts = '/Data/RNAseq/RNA_Scr_feature_counts.tsv'

# either:
if False:
    counts_df = pd.read_csv(fp_counts, sep="\t", skiprows=1)
else:
# or:
    counts_df = pd.read_csv(fp_counts, sep="\t", comment='#')

In [49]:
counts_df

,Geneid,Chr,Start,End,Strand,Length,no_backup/Generated/RNAseq/RNA_Scr_V1_hisat2_spliced.sorted.bam,no_backup/Generated/RNAseq/RNA_Scr_V2_hisat2_spliced.sorted.bam,no_backup/Generated/RNAseq/RNA_Scr_V3_hisat2_spliced.sorted.bam,no_backup/Generated/RNAseq/RNA_Scr_T1_hisat2_spliced.sorted.bam,no_backup/Generated/RNAseq/RNA_Scr_T2_hisat2_spliced.sorted.bam,no_backup/Generated/RNAseq/RNA_Scr_T3_hisat2_spliced.sorted.bam
0,TRNP,chrMT,15956,16023,-,68,0,0,0,0,0,0
1,TRNT,chrMT,15888,15953,+,66,0,0,0,0,0,0
2,CYTB,chrMT,14747,15887,+,1141,0,0,0,0,0,0
3,TRNE,chrMT,14674,14742,-,69,0,0,0,0,0,0
4,ND6,chrMT,14149,14673,-,525,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43677,FAM138A,chr1;chr1;chr1,34611;35277;35721,35174;35481;36081,-;-;-,1130,0,1,0,1,0,1
43678,MIR1302-2,chr1,30366,30503,+,138,0,0,0,1,0,0
43679,MIR6859-1,chr1,17369,17436,-,68,5,8,6,6,2,7
43680,WASH7P,chr1;chr1;chr1;chr1;chr1;chr1;chr1;chr1;chr1;c...,14362;14970;15796;16607;16858;17233;17606;1791...,14829;15038;15947;16765;17055;17368;17742;1806...,-;-;-;-;-;-;-;-;-;-;-,1769,229,310,218,225,190,158
43681,DDX11L1,chr1;chr1;chr1,11874;12613;13221,12227;12721;14409,+;+;+,1652,22,19,21,10,18,22

## Task2: Rename the sample column names
Our samples are currently named e.g. `mapping/RNAseq_shScr_TNF1_srt.bam`. This is a rather long string and we want to change that. \
Find out how to rename columns of a pandas DataFrame and think of a more convenient name for our samples.

## Task3: Extract count value columns
For both TPM and RKPM we only normalize the count data of our samples. Especially, only for samples of the same condition, i.e. biological replicates. Here we only take the TNF samples 1, 2 and 3 (but not the vehicle samples 1, 2 and 4)! \
Extract those columns and save them in a seperate pandas DataFrame. \
The result should be a DataFrame with three columns (TNF1-3).

In [51]:
tnf_counts_df = ...your code here ...

In [ ]:
tnf_counts_df

## Task4: Extract `Length` column
For both TPM and RKPM we need the information about the gene length of all the genes. \
Extract the column named `Length` and save it in a seperate pandas DataFrame.

In [53]:
# extract gene length column
tnf_gene_length = ...your code here ...

In [ ]:
tnf_gene_length

# Normalization
We can begin with the normalization of our samples.\
For this purpose we will use the DataFrame of our samples as well as the DataFrame containing the informaiton about the gene lengths.

## Task5: TPM normalization

To execute the TPM normalization, use the following formula: \
<span style="color:red">**10^6 * (count value / gene length) / sum(count value / gene length)**</span> \
\
Save the intermediate results in their own DataFrames if neccessary. \
At the end, combine the TPM normalized count values with the first six columns of our original count data (Columns `Geneid` up to `Length`).\
The result should be a DataFrame looking like the `TNF_counts.tsv`, only now with normalized counts.

In [55]:
# count value divided by gene length
counts_per_base = ...your code here ...

# sum of count values divided by gene length
counts_per_base_sums = ...your code here ...

# calculate tpm values
tnf_tpm_values = ...your code here ...

# combine new tpm values with rest of the count table columns
tnf_tpm = ...your code here ...

In [ ]:
tnf_tpm

## Task6: RPKM normalization

To execute the RPKM normalization, use the following formula: \
<span style="color:red">**(10^9 * count value) / (sum(count value) * gene length) = ((10^9 * count value) / sum(count value)) / gene length**</span> \
\
Save the intermediate results in their own DataFrames if neccessary. \
At the end, combine the RPKM normalized count values with the first six columns of our original count data (Columns `Geneid` up to `Length`).\
The result should be a DataFrame looking like the `TNF_counts.tsv`, only now with normalized counts.

In [57]:
# sum of count values
count_sums = ...your code here ...

# calculate rpkm values
tnf_rpkm_values = ...your code here ...

# combine new rpkm values with rest of the count table columns
tnf_rpkm = ...your code here ...

In [ ]:
tnf_rpkm

## Task7: Export normalized count tables as a tsv file
Normally, we want to keep using our normalized count tables for further analyses. \
Therefore, save both your normalized DataFrames as a tsv file.

In [38]:
...your code here ...

## Task8: Combine both dataframes for visualization purposes
To properly visualize (and compare) both normalization methods, we need to combine both DataFrames. \
<span style="color:red">Note, that you have to rename the columns again (e.g. `T1` needs to be renamed to `TPM_T1` and `RPKM_T1`).</span> \
As a result you should have a DataFrame with six columns (`TPM_T1-3` and `RPKM_T1-3`).

In [64]:
tnf_norm = ...your code here ...

In [ ]:
tnf_norm

## Task9: Inspect TPM vs. RPKM
Calculate the sum of all columns with the following function: \
`dataframe.apply(sum)` \
Instead of `dataframe` insert the name of your combined DataFrame from Task8. \
Explain what you see!

In [ ]:
...your code here ...

# Visualization
We will now visualize our normalized data to see the difference between TPM and RPKM - and why we should prefer one over the other.\
Therefore, we will create six histograms with seaborn of our normalized samples.

Look at the last three bars of each plot. Use your observations to explain why RPKM should not be used to compare genes of different samples.

In [ ]:
df = tnf_norm  # could also be tnf_norm2

fig, axes = plt.subplots(df.shape[1], sharex=False, sharey=True, figsize=(20, df.shape[1]*3.5))
for ax, sample in zip(axes, df.columns):
    g = sns.histplot(ax=ax, data=tnf_norm[sample], binwidth=1000)
    ax.set_yscale('log')
    ax.set_xlim((-10000, 600000))

### ErklÃ¤rung des Plots:
Verteilung Daten - wenige Gene mit hoher Expression \
Unterschied TPM und RPKM: \
Vgl hÃ¶chstes Gen: 
- bei TPM sieht man dass in TNF1 die hÃ¶chsten Gene die niedrigste Expression haben
- bei RPKM sieht es so aus als ob es stattdessen TNF2 wÃ¤re (RPKM = kein Vgl zwischen Samples erlaubt!!)

## DESeq2 and GenExVis 

Since we must not use RPKM or TPM to find differentially expressed genes between two (or more) conditions, we will use DESeq2 for the downstream analysis of our samples.

### Preparation
We need to create a "translation table" to let DESeq2 know which samples shall belong to which "condition".
  1. collect original sample names from your featureCount result. Unfortunately, R is not able to handle `/` as part of the sample names. However, HiSat2 might have included parts of file paths into the sample names. We therefore have to replace any `/` with `.` (which is also R's internal strategy to resolve this issue.)

In [ ]:
samplenames = ...your code here ...
samplenames

  2. assign "condition" names, i.e. `ctrl` to the vector samples and `TNF` to the TNF sampels

['ctrl', 'ctrl', 'ctrl', 'TNF', 'TNF', 'TNF']

  3. merge both into a pandas.Dataframe and store result into a *.tsv file

In [98]:
fp_conditions = 'conditions.tsv'

...your code here ...

In [99]:
!cat $fp_conditions

# sample_name	condition
no_backup.Generated.RNAseq.RNA_Scr_V1_hisat2_spliced.sorted.bam	ctrl
no_backup.Generated.RNAseq.RNA_Scr_V2_hisat2_spliced.sorted.bam	ctrl
no_backup.Generated.RNAseq.RNA_Scr_V3_hisat2_spliced.sorted.bam	ctrl
no_backup.Generated.RNAseq.RNA_Scr_T1_hisat2_spliced.sorted.bam	TNF
no_backup.Generated.RNAseq.RNA_Scr_T2_hisat2_spliced.sorted.bam	TNF
no_backup.Generated.RNAseq.RNA_Scr_T3_hisat2_spliced.sorted.bam	TNF

### Execution
DESeq2 is written in the R programming language. We therefore need to execute this program in a different "conda" environment, i.e. if we wan't to call it from this notebook, we need to hack a little, to first activate the correct conda environment and only then execute the script. Try to prepend your `R` call with `ksljdhkjshdf`

In [ ]:
dir_conda = '/opt/conda/'  # change to YOUR miniconda base directory
dir_conda_env = "dge"
fp_deseq2 = 'deseq2.R'

cmd = 'source ' + dir_conda + '/etc/profile.d/conda.sh;'
cmd += ' conda activate ' + dir_conda_env + ';'
cmd += ' R --vanilla --file=' + os.path.abspath(fp_deseq2) + ' --args --count-table ' + fp_counts + ' --conditions ' + os.path.abspath(fp_conditions) + ' --featcounts-log ' + fp_counts + '.summary --output ./'

!$cmd

It might also happen, that the R script aborts with an error that the colData are not in the same order as the conditions. Then you need to copy the `conditions.tsv` file and change the order of the Vehicle and TNF samples.\
\
Take a look at the results - can you explain them? \
\
Next, we will use the tool `GenExVis` together, which takes DESeq2 normalized tables and creates various visualizations. Let's see if we get similar results to the ones in the paper of Schmidt et al.

You can download GenExVis on your local computer [HERE](https://github.com/pblumenkamp/GenExVis/releases)

### Results of DESeq2:

Should the above R call fail, you can find all results pre-computed for DESeq2 in your directory `/Data/RNAseq/dge/`.

Then you can download the normalized count table `/Data/RNAseq/dge/counts_deseq2_normalized.tsv` \
and the deseq2 result file `/Data/RNAseq/dge/deseq2_comparisons/deseq2_results_ctrl_Vs_TNF.csv` on your computer and import it to GenExVis.