# SUCHEN UND ERSETZEN MIT PANDAS

Führe die Übung in Python mit der Datei ```/vol/lehre/msmoabs2024/fileformats/studierende.txt``` durch.\
Importiere sie als Pandas Dataframe und löse die folgenden Aufgaben:

#### 1. Gib die erste Spalte aus.

#### 2. Gib die erste Spalte ohne die erste Zeile aus.

#### 3. Gib die 2. Zeile der Tabelle aus.

#### 4. Gib die Zeilen 2 bis 5 aus.

#### 5. Gib die Daten aller Studierenden aus, deren Name mit einem M beginnt.

#### 6. Gib alle Namen der Studierenden aus, die folgende Buchstaben in ihren Namen enthalten: i und/oder c.

#### 7. Gib die Studierendendaten aller Studierenden aus, die mehr als 2 Semester studieren.

#### 8. Gib die Namen aller Studierenden aus, die mehr als 2 Semester studieren

#### 9. Gib die Studierendendaten aller Biologie-Studierenden aus.

#### 10. Gib die Namen aller Biologie-Studierenden aus, die mehr als 2 Semester studiert haben.

#### 11. Gib die Namen aller Chemie-Studierenden aus, die im 2.Semester sind

#### 12. Ändere das Semester aller Studierenden auf 2

#### 13. Ersetzte den Namen Mateo durch das Wort "Unbekannt"

#### 14. Lösche alle Zeilen deren Studierendennamen mit einem M beginnen aus dem DataFrame und zeige ihn dann an.