# Teil 1: Etwas Listen und Logik
#### 1. Listen: 
Was sind die Rückgabewerte der folgenden Ausdrücke?

In [1]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
x[3]

4

In [4]:
x[0:2]

[1, 2]

In [5]:
x[5:]

[6, 7, 8, 9, 10]

In [6]:
x[:5]

[1, 2, 3, 4, 5]

In [7]:
x[-2]

9

In [8]:
x[:-2]

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
5 in x

True

In [10]:
11 in x

False

#### 2. Methoden für Listen

Zwei praktische Methoden für das Arbeiten mit Listen sind `append()` und `extend()`.

In [10]:
list1 = ["Hallo", "Hi", "Hola", "Hej"]

In [11]:
list1.append("Bonjour")
list1

['Hallo', 'Hi', 'Hola', 'Hej', 'Bonjour']

In [12]:
list2 = ["Ciao"]
list1.extend(list2)
list1

['Hallo', 'Hi', 'Hola', 'Hej', 'Bonjour', 'Ciao']

#### 3. Logik: 
Was sind die Rückgabewerte der folgenden Ausdrücke?

In [13]:
1 > 2

False

In [14]:
1+1 == 2 & 1+1 == 3

False

In [15]:
1+1 >= 2

True

In [16]:
x[:5]<x[5:]

True

In [17]:
1 != 2

True

In [18]:
"A" > "B"

False

In [19]:
"A" < "B"

True

In [20]:
"Apfel" + "kuchen" == "Apfelkuchen"

True

#### 4. `type()`
Variablen besitzen einen Type, welcher mittels `type()` angezeigt werden kann.

In [21]:
variable_string = "Apfelkuchen"
variable_int = 42
variable_float = 3.14
variable_list = [1,2,3]
variable_tuple = (1,2,3)

In [22]:
type(variable_string)

str

In [23]:
type(variable_int)

int

In [24]:
type(variable_float)

float

In [25]:
type(variable_list)

list

In [26]:
type(variable_tuple)

tuple

Typen können verändert werden:

In [27]:
int_to_str = str(variable_int)
int_to_str

'42'

In [28]:
type(int_to_str)

str

Manchmal ist dies notwendig, um bestimmte Funktionen durchzuführen. Führen Sie die unten stehende Zelle aus und ändern Sie den Code entsprechend, um den Satz ausgeben zu lassen (unter Benutzung der Variablen).

In [29]:
print("Ich möchte " + variable_int + " Stücke " + variable_string + ".")

TypeError: can only concatenate str (not "int") to str

In [30]:
print("Ich möchte " + str(variable_int) + " Stücke " + variable_string + ".")

# oder auch so, hat aber nichts mit dem Thema zu tun:
print(f'Ich möchte {variable_int} Stücke {variable_string}.')

Ich möchte 42 Stücke Apfelkuchen.
Ich möchte 42 Stücke Apfelkuchen.

# Teil 2: Funktionen

#### 1. Funktionen verstehen
Finden Sie Informationen zu Input, Output und Funktion für die folgenden Methoden: </br>
`sum(), round(), min(), max()` </br>
`len(), str.upper(), str.lower(), str.split(), str.join()`

Benutzen Sie dafür eine Suchmaschine oder tippen `help()` in eine Zelle des JupyterHubs 

Schreiben Sie außerdem einen Beispielaufruf für die entsprechende Methode.

| Methode | Input | Output | Funktion | Beispiel |
|---------|-------|--------|----------|----------|
|sum()         |Iterable (kommagetrennte Zahlen, Zahlen in Liste, ...)   |Zahl   |Summieren von mehreren Elementen   |sum(1,2)    |
|round()         |Zahl   |Zahl   |Runden (Vorsicht: Symmetrisches Runden!)   |round(2.4)    |
|min()         |Iterable (Zahl, Liste, String, ...)   	|Zahl, Integer (abh. von Input)   	|Minimum berechnen   	|min(2,5,1,7)   	|
|max()   	|Iterable (Zahl, Liste, String, ...)   	|Zahl, Integer (abh. von Input)   	|Maximum berechnen   	|max("ABCFAGJSD")   	|
|len()   	|Objekt   	|Zahl   	|Länge eines Objektes bestimmen (Anzahl der Items im Objekt)   	|len("The best way to predict the future is to implement it.")   	|
|str.upper()   	|String   	|String   	|String in Großbuchstaben konvertieren   	|"Anaconda".upper()   	|
|str.lower()   	|String   	|String   	|String in Kleinbuchstaben konvertieren   	|"PyTHoN".lower()   	|
|str.split()   	|String, Seperator   	|Liste   	|Teilt einen String in Listen-Elemente am angegebenen Seperator   	|"To be, or not to be".split(" ")   	|
|join()   	|Iterable (Zahl, Liste, String, ...), Seperator   	|String   	|Konkateniert Elemente anhand des angegebenen Seperators   	|(" ").join(['To', 'be,', 'or', 'not', 'to', 'be'])   	|

#### 2. Funktionen schreiben
2.1. Schreiben Sie eine Funktion, die bei Ausführung "Hello world" ins Terminal ausgibt.

In [32]:
def hello_world():
    print("Hello world!")
hello_world()

Hello world!

2.2. Schreiben Sie eine Funktion, die zwei Zahlen addiert.

In [33]:
def add_num(num1,num2):
    return(num1+num2)
add_num(1,2)

3

2.3. Schreiben Sie eine Funktion 'greater_than_ten', die nach Übergabe einer Zahl </br> als Rückgabewert liefert, ob die Zahl größer als 10 ist.

In [34]:
def greater_than_ten(num):
    return(num>10)
greater_than_ten(19)

True

#### 3. if else
3.1. Schreiben Sie eine Funktion `bestanden()` die anhand der Notenpunkte einen String "bestanden" oder "nicht bestanden" zurückgibt.

In [35]:
def bestanden (punkte):
    if punkte >= 5:
        status = "bestanden"
    else:
        status = "nicht bestanden"
    return(status)
bestanden(13)

'bestanden'

3.2. Schreiben Sie eine Funktion 'simple_mult', die eine übergebene Zahl mit 8 multipliziert, sofern sie </br> geradzahlig ist oder sie ansonsten mit 9 multipliziert. Nutzen Sie dazu den Modulo-Operator (%).

In [36]:
def simple_mult(num):
    if num%2==0:
        res = num*8
    else:
        res = num*9
    return(res)
simple_mult(2)

16

3.3. In einem Erlebnispark kosten Tickets für Erwachsene (ab 18) 5 Euro, für Teenager (ab 12) 3 Euro und für Kleinkinder 1 Euro. Schreiben Sie eine Funktion `ticket_preis()` für das digitale Kassensystem, die anhand des Alters ausgibt, welcher Ticketpreis bezahlt werden muss.

In [37]:
def ticket_preis(alter):
    if alter >= 18:
        ticket = 5
    elif alter >=12:
        ticket = 3
    else:
        ticket = 1
    print('Das Ticket kostet ' + str(ticket) + ' Euro.')
ticket_preis(21)

Das Ticket kostet 5 Euro.

#### 4. for-loops
Schreiben Sie eine Funktion, die die Fakultät der eingegeben Zahl ermittelt.

In [38]:
def factorial(num):
    fac = 1
    for x in range(1,num+1):
        fac = fac * x
    return(fac)
factorial(4)

24

#### 5. Methoden importieren
Suchen Sie nach einer Methode in Python, welche die Quadratwurzel einer uebergebenen Zahl berechnet. </br> Berechnen Sie dann damit die Quadratwurzel von 6.

In [39]:
import math
math.sqrt(6)

2.449489742783178

#### 6. Dictionaries
6.1. Erstellen Sie eine "Kartei" einer imaginären Person, welche an dieser Universität studiert. </br> Nutzen Sie dafür den Datentyp `dictionary`.
Folgende Informationen soll die Kartei enthalten: vollständiger Name, Alter, Studiengang, Semester 

Fügen Sie nachträglich die Information hinzu, welchen Notendurchschnitt diese Person hat.

In [40]:
student = {'name': 'Neal Caffrey', 'age': 31, 'course': 'medicine', 'semester': 5}
student['avg_grade'] = 1.1
print(student)

{'name': 'Neal Caffrey', 'age': 31, 'course': 'medicine', 'semester': 5, 'avg_grade': 1.1}

6.2. Es wurden Klausurergebnisse einer Klasse in einem Dictionary gespeichert. Leider ist beim Berechnen der Gesamtpunktzahl ein Fehler passiert. </br> Alle Personen haben 5 Punkte zu wenig erhalten.

Korrigieren Sie diesen Fehler im unten stehenden Dictionary, indem Sie eine for-loop verwenden.</br> Lassen Sie sich dann das Dictionary ausgeben, um zu überprüfen, ob die Gesamtpunkte richtig geändert wurden.

In [41]:
score = {'Robert A.': 65, 'Lana F.': 66, 'Aminata H.': 81, 'Oliver N.': 49, 'Ebru S.': 95, 'Mateo S.': 90, 'Viktor W.': 73, 'Chloe Z.': 92}

In [42]:
for k,v in score.items():
    score[k] = v+5
print(score)

{'Robert A.': 70, 'Lana F.': 71, 'Aminata H.': 86, 'Oliver N.': 54, 'Ebru S.': 100, 'Mateo S.': 95, 'Viktor W.': 78, 'Chloe Z.': 97}

6.3. Bonusaufgabe </br>
Wiederholen Sie die Aufgabe. Diesmal haben jedoch alle Personen bis auf Aminata H. 3 Punkte zu viel erhalten. </br> Verändern Sie das Dictionary entsprechend. 
Wie kann man einen Iterations-Schritt in einer for-loop überspringen? Versuchen Sie diese Information in Ihrer Lösung einzubauen.

In [43]:
for k,v in score.items():
    if k=='Aminata H.':
        continue
    else:
        score[k] = v-3
print(score)

{'Robert A.': 67, 'Lana F.': 68, 'Aminata H.': 86, 'Oliver N.': 51, 'Ebru S.': 97, 'Mateo S.': 92, 'Viktor W.': 75, 'Chloe Z.': 94}